@charset "utf-8";
/* CSS Document */

/*@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');*/

a{
	/*color: white;*/
}

body{
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	width: 1080px;
	height: 1920px;
	overflow: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	color: #ffffff;
	background-image: url(../assets/background-old.png);
}

header
{
	height: 13%;	
}

header .logo {
	width: 1080px;
	text-align: center;
	float: left;
	padding: 5px 0 0 0px;
}

header .logo img {
	width: 1050px;
}
.subheader{
	/*background-image: url(../assets/gradient-bg.jpeg);
	    background-size: cover;*/
	width: 900px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 70px;
	height: 105px;
	padding:10px 10px 0px 0px;
	font-size: 40px;
	color: #232f3e;
}
.subheader img{
	width: 70px;
	display: block;
	margin-left: 20px;
}

nav {
	height: 80px;
	/*background-image: url(../assets/header-bg.png);*/
	background-color: #d5dbdb;
}


nav .nav-language button {
	border-radius: 25px;
	font-size: 25px;
	border: solid #ffffff;
	width: 130px;
	margin: 5px 10px 2px 0;
	padding: 5px;
}



.main-content {
	/*background-image: url("../assets/background.png");
	background-repeat: no-repeat;
	background-size: cover;*/
	height: 60%;
	
}

.main-content .main-menu-matrix {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;
}
.main-content .main-menu-matrix td{
/*width: 310px;
	height: 320px;
	float: left;
    margin: 0 25px;    margin-bottom: 30px;
    background-size: cover;border-radius: 10px;*/
}

.main-menu-matrix table {
	width: 100%;
}

.main-menu-matrix table button {
	background-size: cover;
	margin-bottom: 100px;
    padding: 10px;
	width: 510px;
	height: 370px;
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	font-size: 40px;
	text-align: center;background-color: #d6dcdc;
	
	border-color: white;
	color: #232f3e !important;
}
.icons-2{
	height: 100px !important;
}
.icons-2 img{
	width: 80px !important;
	    float: left;
}
.main-menu-matrix table button div{
	color: #232f3e;
    font-weight: bold;
    font-size: 37px;
    margin-top:80px;
}
.main-menu-matrix table button a{
	color: #232f3e !important;
	display: block;
	font-size: 40px;
    line-height: 49px;
    margin-top: 30px;float: left;
    width: 470px;
}
a:hover, a:active, a:visited, a:focus{
	text-decoration: none;
}


.main-menu-matrix table button img {
	width: 220px;
	
}
footer {
	position: absolute;
    bottom: 0px;
    height: 140px;
    width: 100%;
    font-size: 28px;
    color: white;
}

.date-time{
	float: right !important;margin-top: 50px;float: right;text-align: center;font-size: 30px;color: black;
}
.date-time p{
	margin-bottom: 0;
}

a.button {
	/* styles for button */
	margin:10px auto 0 auto;
	text-align:center;
	display: block;
	width:100px;
	padding:  10px ;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-size: 30px;

	/* button color */
	background-color: #b92c28;

	/* css3 implementation :) */
	/* rounded corner */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	/* drop shadow */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

	/* text shaow */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;

}


#dialog-box .dialog-content p {
	font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px;
	padding:0;
	height:50px;
}

#dialog-box .dialog-content {
	/* style the content */
	max-height: 1200px;
	overflow: hidden;
	text-align:left;
	padding:10px;
	margin:13px;
	color:#666;
	font-family:arial;
	font-size:11px;
}

#dialog-overlay {

	/* set it to fill the whil screen */
	width:100%;
	height:100%;

	/* transparency for different browsers */
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	background:#000;

	/* make sure it appear behind the dialog box but above everything else */
	position:absolute;
	top:0; left:0;
	z-index:3000;

	/* hide it by default */
	display:none;
}

#dialog-box {

	/* css3 drop shadow */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

	/* css3 border radius */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	background:#eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */
	width:850px;


	/* make sure it has the highest z-index */
	position:absolute;
	top: 20% !important;
	z-index:5000;

	/* hide it by default */
	display:none;
}

#appcity{
	font-weight: bold;
	 font-size: 25px;
}
#content_air,#content_date,#condition{
	font-size: 30px;
}
#temp{
	font-size: 25px;
	 font-weight: bold;
}

.home-text{
	position: absolute;
    top: 260px;
    right: 0;
	font-size: 40px;
	padding-left: 10px;
	color: white;
	float: left;
}
.title{
	background-color: #b90b02;
	height: 90px;
    font-size: 60px;
    line-height: 85px;
    width: 88%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
iframe{border: none;}

#myVideo {
    width: 1080px;
}
.wrap video{
	margin-top: 200px;
}
.wrap video::-webkit-media-controls-fullscreen-button {
display: none;
}
.app-content{padding-top: 50px}
.home {
    float: left;
    height: 57px;
    padding-right: 30px;
}